body {
    background-color: #232327;
    color: #f0f0f0;
    font-family: 'Roboto Mono', monospace;
}

table, th, td, caption {
    border-width: thin;
    border-style: solid;
    border-collapse: collapse;
}

caption {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

th, td, caption {
    text-align: center;
    padding: 5px 10px 0 10px;
}

td {
    width: 50%
}



/*tr:nth-child(even) {
    background-color: #434347;
}*/

/*tr:hover {
    background-color: lightgray;
    color: black;
}*/

a {
    color: lightblue;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
}

.open-popup{
    visibility: visible;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #D30000;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/*.navbar {*/
/*  overflow: hidden;*/
/*  background-color: #333;*/
/*  position: fixed; !* Set the navbar to fixed position *!*/
/*  top: 0; !* Position the navbar at the top of the page *!*/
/*  width: 100%; !* Full width *!*/
/*}*/

/*!* Links inside the navbar *!*/
/*.navbar a {*/
/*  float: left;*/
/*  display: block;*/
/*  color: #f2f2f2;*/
/*  text-align: center;*/
/*  padding: 14px 16px;*/
/*  text-decoration: none;*/
/*}*/

/*!* Change background on mouse-over *!*/
/*.navbar a:hover {*/
/*  background: #ddd;*/
/*  color: black;*/
/*}*/
